*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body{
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'RocknRoll One', sans-serif;
}

h1,h2,h3{
    text-transform: uppercase;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 28px;
    color: rgb(48, 51, 223);
}

h3{
    color: rgb(10, 133, 57);
    font-size: 20px;
    margin: auto;
}

.titulo{
    color: rgb(29, 141, 175);
}

.container{
    width: 100%;
    display: inline-flex;
    
}

.sub-container{
    width: 60%;
    margin-right: 4rem;
    background-color: #ededed;
    padding: 15px;
}

.banner{
    width: 100%;
    margin-bottom: 3rem;
}

.banner-img{
    width: 100%;
    margin-bottom: 5px;
}

.articulos{
    width: 100%;
}
.text-articulo{
    display: flex;
    text-align: center;
    justify-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;

}

.art{
    display: flex;

}
.img-articulos{
    width: 100%;
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
}

.formulario{
    width:40%;
    background-color: aquamarine;
    padding: 15px;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.formulario h3{
    text-align: left;
}

.otros-img{
    width: 100%;
    margin-bottom: 1rem;
}

.form{
    margin-top: 5rem;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.input{
    display: block;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 15px;
    padding: 10px;

}

.btn{
    background-color: black;
    color: #fff;
    border-radius:30px ;
    font-size: 15px;
    padding: 1rem;
}
footer{
    margin-top: 2rem;
    padding: 2rem;
    background: rgb(34,193,195);
    background: -moz-linear-gradient(35deg, rgba(34,193,195,1) 0%, rgba(45,74,253,1) 100%);
    background: -webkit-linear-gradient(35deg, rgba(34,193,195,1) 0%, rgba(45,74,253,1) 100%);
    background: linear-gradient(35deg, rgba(34,193,195,1) 0%, rgba(45,74,253,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3",endColorstr="#2d4afd",GradientType=1);
}